<html>
<head>
<title>Ulysses "Seen" | {{page.categories}} | {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    
<link rel="stylesheet" href="{{ site.baseurl }}/css/{{page.pagecolor}}.css" />
    
<script src="{{ site.baseurl }}/js/imageswap.js" type="text/javascript"></script>
    
<meta name="keywords" content="{{page.keywords}}">
<meta name="description" content="{{page.description}}">
    
</head>
<body onLoad="MM_preloadImages('{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template-over_07.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_03_over.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_04_over.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template-over_05.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_08_over.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_09_over.png')">
<table id="container">
<tr>
		<td colspan="10">
			<img src="{{ site.baseurl }}/img/listing/01.png" width="1259" height="21" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{{ site.baseurl }}/img/listing/02.png" width="123" height="45" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/03.png" width="87" height="45" alt=""></td>
		<td colspan="2"><a href="{{ site.baseurl }}/about/about.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image60','','{{ site.baseurl }}/img/listing/over_04.png',1)"><img src="{{ site.baseurl }}/img/listing/04.png" alt="about this comic" name="Image60" width="139" height="45" border="0"></a></td>
<td colspan="4">
			<img src="{{ site.baseurl }}/img/listing/05.png" width="650" height="45" alt=""></td>
		<td><a href="http://ulyssesseen.com/landing/annotations/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image61','','{{ site.baseurl }}/img/listing/over_06.png',1)"><img src="{{ site.baseurl }}/img/listing/06.png" alt="reader's guide" name="Image61" width="124" height="45" border="0"></a></td>
<td>
			<img src="{{ site.baseurl }}/img/listing/07.png" width="136" height="45" alt=""></td>
	</tr>
	<tr>
		<td rowspan="15">
			<img src="{{ site.baseurl }}/img/listing/08.png" width="123" height="1457" alt=""></td>
		<td colspan="2" rowspan="14">
			<img src="{{ site.baseurl }}/img/listing/09.png" width="144" height="1395" alt=""></td>
		<td colspan="4">
			<img src="{{ site.baseurl }}/img/listing/10.png" width="713" height="150" alt=""></td>
		<td colspan="2" rowspan="14">
			<img src="{{ site.baseurl }}/img/listing/11.png" width="143" height="1395" alt=""></td>
		<td rowspan="15">
			<img src="{{ site.baseurl }}/img/listing/12.png" width="136" height="1457" alt=""></td>
	</tr>
	<tr>
		<td colspan="2"><a href="{{ site.baseurl }}/telemachus/1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image62','','{{ site.baseurl }}/img/listing/over_13.png',1)"><img src="{{ site.baseurl }}/img/listing/13.png" name="Image62" width="228" height="178" border="0"></a></td>
<td>
			<a href="{{ site.baseurl }}/nle/1.html"><img src="{{ site.baseurl }}/img/listing/page-1.jpg" width="228" height="178" alt=""></a></td>
<td>
			<img src="{{ site.baseurl }}/img/listing/15.png" width="227" height="178" alt=""></td>
	</tr>
	<tr>
		<td colspan="2"><a href="http://ulyssesseen.com/landing/annotations/readers-guide-for-i-telemachus/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image63','','{{ site.baseurl }}/img/listing/over_16.png',1)"><img src="{{ site.baseurl }}/img/listing/16.png" name="Image63" width="228" height="25" border="0"></a></td>
<td>
			<img src="{{ site.baseurl }}/img/listing/17.png" width="258" height="25" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/18.png" width="227" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="{{ site.baseurl }}/calypso/1.html"><img src="{{ site.baseurl }}/img/listing/19.png" width="228" height="178" alt=""></a></td>
  <td>
			<img src="{{ site.baseurl }}/img/listing/20.png" width="258" height="178" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/21.png" width="227" height="178" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/22.png" width="228" height="20" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/23.png" width="258" height="20" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/24.png" width="227" height="20" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/25.png" width="228" height="182" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/26.png" width="258" height="182" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/27.png" width="227" height="182" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/28.png" width="228" height="19" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/29.png" width="258" height="19" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/30.png" width="227" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/31.png" width="228" height="180" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/32.png" width="258" height="180" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/33.png" width="227" height="180" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/34.png" width="228" height="22" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/35.png" width="258" height="22" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/36.png" width="227" height="22" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/37.png" width="228" height="179" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/38.png" width="258" height="179" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/39.png" width="227" height="179" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/40.png" width="228" height="21" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/41.png" width="258" height="21" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/42.png" width="227" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/43.png" width="228" height="181" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/44.png" width="258" height="181" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/45.png" width="227" height="181" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="{{ site.baseurl }}/img/listing/46.png" width="228" height="23" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/47.png" width="258" height="23" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/listing/48.png" width="227" height="23" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="{{ site.baseurl }}/img/listing/49.png" width="713" height="37" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="{{ site.baseurl }}/img/listing/50.png" width="1000" height="62" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="123" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="87" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="57" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="82" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="146" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="258" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="227" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="19" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="124" height="1" alt=""></td>
		<td>
			<img src="{{ site.baseurl }}/img/spacer.gif" width="136" height="1" alt=""></td>
	</tr>
</table>
</body>
</html>
