<html>
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/imageswap.js" type="text/javascript"></script>
        <meta name="keywords" content="{{ page.keywords }}">
        <meta name="description" content="{{ page.description }}">
    </head>
<body onLoad="MM_preloadImages('http://www.ulyssesseen.com/images/index_over_03.jpg','http://www.ulyssesseen.com/comic/images/index_over_04.png','http://www.ulyssesseen.com/images/index_over_05.jpg')">
<table id="Table_01" width="1202" height="817" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
		<td colspan="5">
			<img src="http://www.ulyssesseen.com/images/index_01.jpg" alt="" width="1201" height="489" border="0" usemap="#Map"></td>
  </tr>
	<tr>
		<td width="183">
			<img src="http://www.ulyssesseen.com/images/index_02.png" width="183" height="111" alt=""></td>
		<td width="181"><a href="/telemachus/1.html" onMouseOver="MM_swapImage('See The Comic','','http://www.ulyssesseen.com/images/index_over_03.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="http://www.ulyssesseen.com/images/index_03.jpg" alt="See the Comic" name="See The Comic" width="181" height="111" border="0"></a></td>
<td width="177"><a href="http://ulyssesseen.com/landing" target="_blank" onMouseOver="MM_swapImage('Read About Us','','http://www.ulyssesseen.com/images/index_over_04.png',1)" onMouseOut="MM_swapImgRestore()"><img src="http://www.ulyssesseen.com/images/index_04.png" alt="Read About Us" name="Read About Us" width="177" height="111" border="0"></a></td>
<td width="178"><a href="http://www.gofundme.com/ulyssesseen" target="_blank" onMouseOver="MM_swapImage('Help Us Be Seen','','http://www.ulyssesseen.com/images/index_over_05.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="http://www.ulyssesseen.com/images/index_05.jpg" alt="Help Us Be Seen" name="Help Us Be Seen" width="178" height="111" border="0"></a></td>
<td width="483">
			<img src="http://www.ulyssesseen.com/images/index_06.png" width="482" height="111" alt=""></td>
  </tr>
	<tr>
		<td colspan="5">
			<img src="http://www.ulyssesseen.com/images/index_07.png" width="1201" height="217" alt=""></td>
	</tr>
</table>
<map name="Map"><area shape="rect" coords="945,75,1080,256" href="http://itunes.apple.com/us/app/ulysses-seen/id372788888?mt=8" target="_blank" alt="Download the iPad app">
</map></body>
</html>