<html>
<head>
<title>Ulysses "Seen" | {{page.categories}} | {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    
<link rel="stylesheet" href="{{ site.baseurl }}/css/dark.css" />
    
<script src="{{ site.baseurl }}/js/imageswap.js" type="text/javascript"></script>
    
<meta name="keywords" content="{{page.keywords}}">
<meta name="description" content="{{page.description}}">
    
</head>
<body onLoad="MM_preloadImages('{{ site.baseurl }}/img/templates/dark/template-over_07.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_03_over.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_04_over.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template-over_05.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_08_over.png','{{ site.baseurl }}/img/templates/{{page.pagecolor}}/template_09_over.png')">
<table id="container">
    <tr>
		<td colspan="4">
			<img src="{{ site.baseurl }}/img/templates/dark/template_01.png" width="209" height="66" alt="" border="0">
        </td>
    </tr>
	<tr>
		<td rowspan="3">
			<img src="{{ site.baseurl }}/img/templates/dark/template_11.png"  width="125" height="749" alt=""></td>
		<td rowspan="3">
			<img src="{{ site.baseurl }}/img/templates/dark/template_12.png" width="24" height="749" alt=""></td>
		<td colspan="4">
			<img src="{{ site.baseurl }}/img/templates/dark/template_13.png" width="948" height="22" alt=""></td>
		<td rowspan="3">
			<img src="{{ site.baseurl }}/img/templates/dark/template_14.png" width="25" height="749" alt=""></td>
		<td rowspan="3">
			<img src="{{ site.baseurl }}/img/templates/dark/template_15.png" width="137" height="749" alt=""></td>
	</tr>
	<tr>
        <!--Comic Image/Reader's Guide-->
		<td colspan="4">
			<img src="{{ site.baseurl }}/img/About02.png" width="948" height="704" border="0" usemap="#Map">
		</td>
  </tr>
	<tr>
		<td colspan="4">
			<img src="{{ site.baseurl }}/img/templates/dark/template_17.png" width="948" height="23" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="{{ site.baseurl }}/img/templates/dark/template_18.png" width="1259" height="151" alt=""></td>
	</tr>
</table>
{{page.extramarkup}}
</body>
</html>
